@{
  Layout="Shared/_Layout.cshtml";
}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
  @foreach (var cuisine in @Model["cuisines"])
  {
    <div class="panel-heading">
      <h4 class="panel-title">
        <p id="@cuisine.GetId()"class="cuisine">@cuisine.GetType()</p>
      </h4>
    </div>
  @foreach (var restaurant in @Model["restaurants"])
  {
    if(restaurant.GetCuisineId() == cuisine.GetId())
    {
      <div class="panel-body rest-@cuisine.GetId()">
        <a href="restaurant/@restaurant.GetId()">@restaurant.GetName()</a>
      </div>
    }
  }
  }
  </div>
</div>
