@{
  Layout="Shared/_Layout.cshtml";
}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
  @foreach (var cuisine in @Model["cuisines"])
  {
    @if (@cuisine.GetId() == 1)
    {
      <div class="panel-heading" style="background-color:#DF7D60 !important">
        <h4 class="panel-title">
          <p id="@cuisine.GetId()"class="cuisine">@cuisine.GetType()</p>
        </h4>
      </div>
    }
    else if (@cuisine.GetId() == 2)
    {
      <div class="panel-heading" style="background-color:#DFA560 !important">
        <h4 class="panel-title">
          <p id="@cuisine.GetId()"class="cuisine">@cuisine.GetType()</p>
        </h4>
      </div>
    }
    else if (@cuisine.GetId() == 3)
    {
      <div class="panel-heading" style="background-color:#41738E !important">
        <h4 class="panel-title">
          <p id="@cuisine.GetId()"class="cuisine">@cuisine.GetType()</p>
        </h4>
      </div>
    }
    else if (@cuisine.GetId() == 4)
    {
      <div class="panel-heading" style="background-color:#449E6E !important">
        <h4 class="panel-title">
          <p id="@cuisine.GetId()"class="cuisine">@cuisine.GetType()</p>
        </h4>
      </div>
    }


  @foreach (var restaurant in @Model["restaurants"])
  {
    if(restaurant.GetCuisineId() == cuisine.GetId())
    {
      if(restaurant.GetCuisineId() == 1)
      {
        <div class="panel-body rest-@cuisine.GetId()" style="background-color:#FFCCBD !important; border-bottom: 1px solid black">
          <img src="Content/IMG/01-Mexican.png">
          <a href="restaurant/@restaurant.GetId()">@restaurant.GetName()</a>
        </div>
      }
      else if (restaurant.GetCuisineId() == 2)
      {
        <div class="panel-body rest-@cuisine.GetId()" style="background-color:#FFE1BD !important; border-bottom: 1px solid black">
          <img src="Content/IMG/02-Japanese2.png">
          <a href="restaurant/@restaurant.GetId()">@restaurant.GetName()</a>
        </div>
      }
      else if (restaurant.GetCuisineId() == 3)
      {
        <div class="panel-body rest-@cuisine.GetId()" style="background-color:#9BBCCE !important; border-bottom: 1px solid black">
          <img src="Content/IMG/03-Chinese.png">
          <a href="restaurant/@restaurant.GetId()">@restaurant.GetName()</a>
        </div>
      }
      else if (restaurant.GetCuisineId() == 4)
      {
        <div class="panel-body rest-@cuisine.GetId()" style="background-color:#A0D7BA !important; border-bottom: 1px solid black">
          <img src="Content/IMG/04-American.png">
          <a href="restaurant/@restaurant.GetId()">@restaurant.GetName()</a>
        </div>
      }


    }
  }
  }

  </div>
  <div class="panel-footer">
    <p>Don't see your restaurant? <a href="#anchor" class="showForm">Submit yours.</a></p></div>
</div>
<a name="anchor"><div class="hideThis"></a>
  <form action="/restaurant/new" method="post">
  <label for="user-name"></label>
  <input id="user-name" name="user-name" type="text" placeholder="Owner Login">
  <label for="user-password"></label>
  <input id="user-password" name="user-password" type="text" placeholder="Password">
  <button type="submit">Submit</button>
</form>
</div>
