@{
  Layout="Shared/_Layout.cshtml";
}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
  @foreach (var cuisine in @Model["cuisines"])
  {
    <div class="panel-heading">
      <h4 class="panel-title">
        <p id="@cuisine.GetId()"class="cuisine">@cuisine.GetType()</p>
      </h4>
    </div>
  @foreach (var restaurant in @Model["restaurants"])
  {
    if(restaurant.GetCuisineId() == cuisine.GetId())
    {
      <div class="panel-body rest-@cuisine.GetId()">
        <a href="restaurant/@restaurant.GetId()">@restaurant.GetName()</a>
      </div>
    }
  }
  }

  </div>
  <div class="panel-footer">
    <p>Don't see your restaurant? <a href="#anchor">Submit yours.</a></p></div>

</div>

<a name="anchor"><div class="panel restaurantForm"></a>
  <div class="panel">
    <form class="form-horizontal" id="restaurant" action="/" method="post">
      <div class="form-group">
        <label class="col-md-4" for="Name">Your Restaurant:</label>
        <div class="col-md-8">
        <input class="form-control" name="name" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4" for="availability">Hours of Operation:</label>
        <div class="col-md-8">
        <input class="form-control" name="availability" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4" for="address">Address:</label>
        <div class="col-md-8">
        <input class="form-control" name="address" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4" for="phone">Phone:</label>
        <div class="col-md-8">
        <input class="form-control" name="phone" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4" for="takeOut">Take Out:</label>
        <div class="col-md-4">
          <select class="form-control" name="takeOut">
           <option name="takeOut" value="true">Yes</option>
           <option name="takeOut" value="false">No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4" for="cuisine">Cuisine:</label>
        <div class="col-md-4">
          <select class="form-control" name="cuisine">
           <option name="cuisine_id" value="1">Mexican</option>
           <option name="cuisine_id" value="2">Japanese</option>
           <option name="cuisine_id" value="3">Chinese</option>
           <option name="cuisine_id" value="4">American</option>
          </select>
        </div>
      </div>


      <div class="form-actions">
        <button class="btn btn-success" type="submit" onclick="myFunction()">Submit</button>
      </div>
    </form>
  </div>
</div>
